.contacts {
  &__title {
    font-size: $fs-48;
    font-weight: $fw-600;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__field {
    margin: 0;

    @include page-grid;

    &--form {
      grid-column: 1/-1;
      margin-bottom: 48px;

      @include on-tablet {
        grid-column: 1/4;
      }

      @include on-desktop {
        grid-column: span 5;
      }
    }

    &--data {
      grid-column: 1/-1;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: 8/11;
      }
    }
  }

  &__button {
    @include button;

    width: 100%;
    box-sizing: border-box;
    line-height: 27px;
    border: none;
  }
}

.contact {
  &__name input {
    @include form-style;

    height: 48px;
    border-radius: 40px;
    padding-left: 16px;
  }

  &__email input {
    @include form-style;

    height: 48px;
    border-radius: 40px;
    padding-left: 16px;
    font-size: $fs-16;
  }

  &__message textarea {
    @include form-style;

    font-family: Poppins, sans-serif;
    height: 48px;
    border-radius: 16px;
    padding-top: 14px;
    padding-left: 16px;
    padding-bottom: 148px;
    resize: none;
    overflow: hidden;
  }

  &__title {

    font-size: $fs-14;
    font-weight: $fw-400;
    margin-bottom: 8px;

    &--gap{
      margin-top: 24px;
    }
  }

  &__value {
    font-size: $fs-16;
    font-weight: $fw-500;
    text-decoration: none;
    color: $second-text-color;
    transition: color $effectDuration;

    &:hover{
      color: grey;
    }
  }
}
