.header {
  // display: none !important;

  background-image: url(../image/75d297df5101dbe1dd55f818092e4eb22a439eea.jpg);
  background-size: cover;
  background-position: right;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__bottom {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: end;
    flex-grow: 1;
    margin-bottom: 100px;

    @include on-tablet {
      margin-bottom: 190px;
    }
  }

  &__title {
    display: block;
    margin: 0;
    font-weight: $fw-700;
    letter-spacing: -1.5px;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    text-align: center;

    @include on-tablet {
      font-size: $fs-64;
    }
  }
}
