.product {
  &__photo {
    width: 100%;
  }
  &__title {
    margin-bottom: 8px;
    font-weight: $fw-700;
    font-size: 24px;
    line-height: 140%;
  }
  &__category {
    font-weight: $fw-400;
    font-size: $fs-16;
    line-height: 140%;
  }
  &__price {
    font-size: 24px;
    line-height: 140%;
    font-weight: $fw-700;
    font-style: bold;
  }
}
