.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 36px;
  }

  &__logo {
    display: flex;
    height: 38px;
    width: 130px;

    transition: transform $effectDuration;

    &:hover {
      transform: scale(1.2);
    }

    @include on-tablet {
      height: 56px;
      width: 187px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__icons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 27px;

    @include on-tablet {
      gap: 36px;
    }
  }
}
