$tablet-min-width: 744px;
$desktop-min-width: 1020px;
$effectDuration: 0.3s;
$main-text-color: #1d1d1d;
$second-text-color: white;
$fw-600: 600;
$fw-700: 700;
$fw-400: 400;
$fw-500: 500;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-48: 48px;
$fs-32: 32px;
$fs-64: 64px;
